/* thanks http://www.tonimueller.org/blog/theme/css/local.css*/
/* local CSS
 *
 * Make it more compact.
 */

/* tag cloud */

div.tagcloud {
    max-width: 25%;
    float: right;
    clear: right;
    line-height: 0.9;
    border: 1px blue dashed;
    margin: 10px;
    padding: 5px;
}


div.tagcloud > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div.tagcloud ul li, #sidebar ul#tags li {
    display: inline-block;
}

li.list-group-item ul#tags {
    display: inline-block;
    line-height: 0.8;
}

li.list-group-item ul#tags li {
    padding: 5px 7px;
}

li.tag-0 {
    font-size: 150%;
}

li.tag-1 {
    font-size: 130%;
}

li.tag-2 {
    font-size: 110%;
}


li.tag-3 {
    font-size: 100%;
}


li.tag-4 {
    font-size: 85%;
}


li.tag-5 {
    font-size: 70%;
}

li.tag-6 {
    font-size: 55%;
}

#site-subtitle {
    font-style: italic;
    font-size: small;
}


ul.pagelisting li {
    padding: 7px 15px;
}

h2 {
    font-size: 21px;
}
